{% extends "base.html" %}
<title>{% block title %}Vilma{% endblock %}</title>

{% block content %}



<form method="POST">
    <h3 align="center">Hallitse käyttäjiä</h3>
    <div class="form-group">
        <label for="username">Käyttäjätunnus</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Anna Käyttäjätunnus"/>
    </div>
    <div class="form-group">
        <label for="user_role">Status</label>
        <select class="form-control" id="user_role" name="user_role">
            <option>Opiskelija</option>
            <option>Opettaja</option>
            <option>Admin</option>
            <option>None</option>
        </select>
    </div>
    <div>
        <input type="text" class="form-control" id="delete" name="delete" placeholder="Kirjoita POISTA jos haluat poistaa käyttäjän"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" style="width: 10%;">Tallenna</button>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>



{% endblock %}