{% extends "base.html" %}
<title>{% block title %}Vilma{% endblock %}</title>

{% block content %}
<br>

<div class="row">
    <div align="center" class="col-3">Lähetetty</div>
    <div align="center" class="col-3">Käyttäjätunnus</div>
    <div align="center" class="col-3">Viesti</div>
</div>

{% if count == 0 %}
    <br>
    <br>
    <h4 align="center">Ei pyyntöjä</h4>

{% else %}
    <table id="requestsTable" class="table">
    <tbody>
        {% for request in requests %}
        <tr class="tableRow">
            <td>{{ request[2] }}</td>
            <td>{{ request[0] }}</td>
            <td align="right"><textarea readonly>{{ request[1] }}</textarea></td>
            <td><button onClick='acceptRequest("{{ request[0] }}")' class="btn btn-success" style="width: 100%; margin-left: 5%;">Hyväksy</button></td>
            <td><button onClick='rejectRequest("{{ request[0] }}")' class="btn" style="width: 80%; margin-left: 1%;">Hylkää</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}



{% endblock %}
