{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<h5 align="center">{{ user.username }} (admin)</h5>

<br/>
<br/>


<div class="col">

<div class="row-1">
<a href="/create-course">
<button class="btn btn-primary btn-lg" style="width: 20%;">Luo kurssi</button>
</a>
</div>

<br>

<div class="row-2">
<a href="/view-courses">
<button class="btn btn-primary" style="width: 20%; margin-bottom: 1px;">Näytä kurssit</button>
</a>
</div>

<div class="row-3">
<a href="/edit-courses">
<button class="btn btn-primary" style="width: 20%;">Muokkaa kursseja</button>
</a>
</div>

<br>
<br>

<div class="row-6">
<a href="/view-role-requests">
<button class="btn btn-primary" style="width: 50%;">Näytä opiskelijapyynnöt</button>
</a>
</div>

</div>

    

{% endblock %}