{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>


{% block content %}
<form method="POST">
    <h3 align="center">Luo käyttäjä</h3>
    <div class="form-group">
        <label for="username">Käyttäjätunnus</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Anna käyttäjätunnus"/>    
    </div>
    <div class="form-group">
        <label for="password">Salasana</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Anna salasana"/>    
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Salasana uudelleen"/>    
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}