{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<br>

<div class="row">
    <div align="center" class="col-3">Lähetetty</div>
    <div align="center" class="col-3">Käyttäjätunnus</div>
    <div align="center" class="col-5">Viesti</div>
</div>


<div class="row">
    <a align="center" class="col-3" href="">
    <button class="btn btn-primary" disabled style="width: 110%;">x</button>
    </a>
    <a align="center" class="col-3" href="">
    <button class="btn btn-primary" disabled style="width: 110%;">x</button>
    </a>
    <a align="center" class="col-3" href="">
    <button class="btn btn-primary" disabled style="width: 200%;">x</button>
    </a>
</div>

<ul class="list-group list-group-flush" id="requests">
{% for request in requests %}
<li class="list-group-item">
<div class="row">
    <script type="text/javascript"> 
        var username = "{{ request[0] }}";
     </script>
    <div align="center" class="col-3">{{ request[2] }}</div>
    <div align="center" class="col-3">{{ request[0] }}</div>
    <textarea readonly class="col-3">{{ request[1] }}</textarea>
    <button class="btn btn-success col-1" onClick="acceptRequest(username)" style="margin-left: 5%;">Hyväksy</button>
    <button class="btn col-1" onClick="rejectRequest(username)" style="margin-left: 1%;">Hylkää</button>
</div>
</li>
{% endfor %}
</ul>



{% endblock %}
