{% extends "base.html" %}
<title>{% block title %}Vilma{% endblock %}</title>

{% block content %}


<br>

<div class="row">
    <div align="center" class="col-4">opiskelija_id</div>
    <div align="center" class="col-4">Käyttäjätunnus</div>
    <div align="center" class="col-4">Opintopisteet</div>
</div>


<div class="row">
    <a align="center" class="col-4" href="sorted-by-id">
    <button class="btn btn-primary" style="width: 114%;">x</button>
    </a>
    <a align="center" class="col-4" href="sorted-by-username">
    <button class="btn btn-primary" style="width: 114%;">x</button>
    </a>
    <a align="center" class="col-4" href="sorted-by-credits">
    <button class="btn btn-primary" style="width: 100%;">x</button>
    </a>
</div>


<ul class="list-group list-group-flush" id="students">
{% for student in users_list %}
<li class="list-group-item">
<div class="row">
    <div align="center" class="col-4">{{ student[0] }}</div>
    <div align="left" class="col-4">{{ student[1] }}</div>
    <div align="center" class="col-4">{{ student[2] }}</div>
</div>
</li>
{% endfor %}
</ul>


{% endblock %}